.create-spin-loading {
  width: 10px;
  height: 2px;
  background: #2196f3;
  position: absolute;
  top: 30px;
  animation: moveing 5s linear infinite;
}

@keyframes moveing {
  0% {
    left: 0;
    width: 30px;
  }
  50% {
    left: 50%;
    width: 80px;
  }
  100% {
    left: 100%;
    width: 30px;
  }
}
